{% extends 'modelo.html' %}

{% block cabecalho %}

{% endblock %}

{% block conteudo %}

<div class="container">

  <div class="row pt-5">

    <div class="col-sm p-5">

      <h1>Ajuda</h1>

      <p>
          <h3>1. Como adotar?</h3>
          Você deve ir na sede da ONG "Adote PLS" para se informar os procedimentos necessários para adotar um bicho de quatro patas.
      </p>

      <p>
          <h3>2. Qual é o endereço da ONG?</h3>
          A ONG "Adote PLS" se localiza na Rua Quatro Patas, 444 - Jd. Filhotes.<br>
          <b>DICA:</b> utilize Google Maps para encontrar a localização.
      </p>

      <p>
          <h3>3. Como doar?</h3>
          A ONG necessita doações para se manter funcionando. Qualquer doação é bem vinda!<br>
          Você pode doar mediante depósito bancário ou dinheiro vivo. Ou doar suas notas fiscais para que a ONG possa registrar no programa "Nota Paraná".
      </p>

      {% load static %}
      <img src="{% static "img/dogsmile.jpg" %}" alt="Dog">
      
    </div>

  </div>

</div>

{% endblock %}
