<!-- Carregar o módulo e as referências lá para o static -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adote um animal!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'  %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Cria um bloco com o HTML a seguir... -->
    {% block menu %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Adote pls!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ajuda' %}">Ajuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contato' %}">Contato</a>
            </li>

<!-- NOVO CÓDIGO ABAIXO - 03/12/2018 -->
            <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Cadastros
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listar-cidades' %}">Cidade</a>
                        <a class="dropdown-item" href="{% url 'listar-pessoas' %}">Pessoa</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'listar-animais' %}">Animal</a>
                        <a class="dropdown-item" href="{% url 'listar-tipos' %}">Tipo</a>
                      </div>
          </li>
<!-- NOVO CÓDIGO ACIMA - 03/12/2018 -->

          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}


    {% block cabecalho %}
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Adote PLS!</h1>
          <!-- <h2 class="masthead-subheading mb-0">E ele te amará!</h2> -->
          <!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    {% endblock %}


    {% block conteudo %}
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">For those about to rock...</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">We salute you!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Let there be rock!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda
                amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- fim da parte branca (conteúdo) do meu layout -->
    {% endblock %}

    {% block content %}
    <h4>
      <p class="text-sm-center">Deseja adotar um animal?</p>
      <p class="text-sm-center">Por favor, clique em: <a class="nav-link" href="{% url 'ajuda' %}">Ajuda</a></p>
      <center><img src="{% static "img/dogsmiling.jpg" %}" alt="Dog"></center>
    </h4>
    {% endblock %}

    {% block rodape %}
    <!-- Footer -->
    <footer class="py-5 bg-info">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Douglas D. - 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Só existe para garantir que o bloco js vai ser executado
    depois de importar as bibliotecas -->
    {% block js %}
    <script type="text/javascript">
      $(document).ready(function() {

        // alert("ok!");

      });
    </script>
    {% endblock %}



  </body>

</html>
